<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Covid Database Database - {% block pagetitle %}{% endblock %}</title>
    <style>
      body{
        font-family: "Helvetica", "sans-serif";
      }
      header {
        background-color: #eeeeee;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
      }
      footer {
        background-color: #eeeeee;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
      }
      header h1, header h2{
        font-size: 1.5em;
      }
      content {
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Covid Database Database</h1>
    </header>
    <nav>
      <small>
        {% block breadcrumbs %}{% endblock %}
      </small>
    </nav>
    <h2>{% block headtitle %}{% endblock %}</h2>
    <content>
      {% block body %}{% endblock %}
      <br/></br/>
    </content>
    <footer>
      Covid Database Database by Dustin King
      (<a href="https://dking.org//blog/">Blog</a>
      | <a href="mailto:cathodion@gmail.com">Contact</a>
      | <a href="https://twitter.com/cathodion">Twitter</a>).
       Inclusion of sources isn't an endorsement of their accuracy.
    </footer>
  </body>
</html>
