{% extends 'base.html' %}

{% block pagetitle %}{{ source.name }} (by {{ source.author_name }}){% endblock %}
{% block headtitle %}{{ source.name }}{% endblock %}

{% block breadcrumbs %}
  <a href="{% url 'home' %}">Home</a>
  &gt; <a href="{% url 'sources' %}">Sources</a>
  &gt; {{ source.name }}

{% endblock %}

{% block body %}


<p>
  <label>Data Source URL:</label>
  <a href="{{ source.url }}">{{ source.url }}</a>
</p>
<p>
  <label>Data Source Author:</label>
  {% if source.author_url %}
  <a href="{{ source.author_url }}">
  {% endif %}
    {% if source.author_name %}
      {{ source.author_name }}
    {% else %}
      Unknown
    {% endif %}
  {% if source.author_url %}
  </a>
  {% endif %}
</p>

<p>
  <label>Data Source Description:</label>
  <div class="multiline">
    {{ description_html | safe }}
  </div>
</p>

<p>
  <label>Using:</label>
  <div class="multiline">
  {% if using_sources %}
  This source uses the following other sources:
  <ul>
    {% for used_source in using_sources %}
      <li>
        <a href='/source/{{ used_source.id }}'>{{ used_source.name }}
        (by {{ used_source.author_name }})</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
  This source isn't known to use any other sources.
  {% endif %}
  </div>
</p>

<p>
  <label>Used By:</label>
  <div class="multiline">
    {% if used_by_sources %}
    This source is used by the following other sources:
    <ul>
    {% for used_by_source in used_by_sources %}
      <li>
        <a href='/source/{{ used_by_source.id }}'>{{ used_by_source.name }}
        (by {{ used_by_source.author_name }})</a>
      </li>
    {% endfor %}
    </ul>
    {% else %}
    This source isn't known to be used by any other sources.
    {% endif %}
  </div>
</p>
{% endblock %}
